/Debug
/Release
/ConsoleApplication1/Debug
/ConsoleApplication1/Release
/.vs/ConsoleApplication1/v14/.suo
/ConsoleApplication1/mul
/ConsoleApplication1/dis
/ConsoleApplication1/d
/ConsoleApplication1/1.mp4
/ConsoleApplication1/recorder.avi
/新建 Microsoft Word 文档.docx
/msasn1.pdb/69378605B03643DBA04D5FD47E3B55BE1
/shcore.pdb/97504C6A0B25405AAADFEFC1478F36B11
/Windows.Storage.pdb/2C24107E91A746DFBE259EE10A6DF5531
/detection/Debug
/res
